<table class="center table-striped table-dark">
  <tr class="bg-primary" >
    <th colspan="2">Weather</th>
  </tr>
  <tr>
  <tr>
    <td>Current Temperature</td>
    <td> <%= @events["main"]["temp"]%>°C</td> 
  </tr>
  <tr>
    <td>Maximum Temperature</td>
    <td><%= @events["main"]["temp_max"] %>°C</td> 
  </tr>
  <tr>
    <td>Minimum Temperature</td>
    <td><%= @events["main"]["temp_max"] %>°C</td> 
  </tr>
</table>

<br>

 





